.container {
  max-width: 850px;
  margin: auto;
  padding: 5px;
  height: 100vh;
}

.ant-carousel .slick-dots li.slick-active button {
  background: orangered !important;
}

.ant-carousel .slick-dots li button {
  background: yellowgreen;
  opacity: 1;
}
